<ion-header color="casco">
  <ion-toolbar color="casco">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <img src="assets/imgs/jugador/110542.png" class="imgHeader" />
    </ion-buttons>
    <ion-title>Datos del jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="contenedorJugador">
    <div class="foto">
      <img *ngIf="jugador.fotografia == null" src="assets/imgs/jugador/110542.png" class="imgContainer" />
      <img *ngIf="jugador.fotografia != null" src="{{jugador.fotografia}}" class="imgContainer" />
    </div>
    <div class="data">
      <div class="title">Nombre: </div>
      <div class="description">{{jugador.nombre}}</div>
      <div class="title">Apellido Paterno: </div>
      <div class="description">{{jugador.apellidoPaterno}}</div>
      <div class="title">Apellido Paterno: </div>
      <div class="description">{{jugador.apellidoMaterno}}</div>
      <div class="title">Rama: </div>
      <div class="description">{{jugador.rama}}</div>
      <div class="title">Nivel: </div>
      <div class="description">{{jugador.level}}</div>
      <div class="title">Saldo en la cuenta: </div>
      <div class="description">{{jugador.sale}}</div>
    </div>
  </div>

  <div class="estadisticasGenerales">
    <div class="title">
      Estadísticas Generales
    </div>
  </div>
  <div class="tabla">
    <div class="celda">Datos</div>
    <div class="celda">Valores</div>

    <div class="celda tamanio">Pases de touch</div>
    <div class="celda tamanio">{{estadisticaGral.touch_pass}}</div>
    <div class="celda tamanio">Anotaciones por pases</div>
    <div class="celda tamanio">{{estadisticaGral.annotation_by_pass}}</div>
    <div class="celda tamanio">Anotaciones por carreras</div>
    <div class="celda tamanio">{{estadisticaGral.annotation_by_race}}</div>
    <div class="celda tamanio">Intercepciones</div>
    <div class="celda tamanio">{{estadisticaGral.interceptions}}</div>
    <div class="celda tamanio">Sachs</div>
    <div class="celda tamanio">{{estadisticaGral.sachs}}</div>
    <div class="celda tamanio">Conversiones</div>
    <div class="celda tamanio">{{estadisticaGral.conversions}}</div>
  </div>

  <div class="abajo">
    <ion-button expand="block" color="casco" (click)="verEstadisticas()">
      <ion-icon name="apps" slot="start"></ion-icon>
      Ver estadísticas por equipo
    </ion-button>
  </div>
</ion-content>