.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .margin_top{
    margin-top: 0px;
  }
  .margin_top_list{
    margin-top: 4px;
  }
  .divText{
    margin-top: -5px;
    div{
      display: inline-block;
      margin-right: 5px;
    }
  }