<ion-header color="casco">
  <ion-toolbar color="casco">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Equipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Actualizar" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="margin_top_list">
    <ion-item-sliding *ngFor="let equipo of equipos">
      <ion-item class="margin_top">
        <ion-avatar slot="start">
          <img src="assets/imgs/equipo/network.png" *ngIf="equipo!=null && equipo.fotografia == null">
          <img src="{{equipo.fotografia}}" *ngIf="equipo.fotografia != null">
        </ion-avatar>
        <ion-label>{{equipo.descripcion}}</ion-label>
      </ion-item>
      <ion-item-options side="end" class="margin_top">
        <ion-item-option (click)="editar(equipo)">
          <div class="divText">
            <div>Editar</div>
            <ion-icon name="construct"></ion-icon>
          </div>
        </ion-item-option>
        <ion-item-option (click)="eliminar(equipo)" color="danger">
          <div class="divText">
            <div>Borrar</div>
            <ion-icon name="trash"></ion-icon>
          </div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="casco" (click)="openCrud(1)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>